/* Large Devices, Wide Screens */
@media only screen and (max-width : 1440px)
	.box
		width: 912px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.box
		width: 684px

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.box
		width: 90%
	.home-wrap,
	.about
		flex-direction: column

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	h1
		font-size: 35px
	h2
		font-size: 24px
	h3
		font-size: 20px
	h4
		font-size: 18px
	h5
		font-size: 15px
	h6
		font-size: 12px
	p
		line-height: 20px
		font-size: 13px
