.experience
	@include jcsb
	flex-wrap: wrap
	.card .button
		position: absolute
		bottom: 20px
		@include center
		&-text,
		.icon
			color: $accent
		&:hover .icon
			transform: translateY(5px)

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.experience
		align-items: center
		justify-content: center
		gap: 24px

/* Small Devices, Tablets, Phones */
@media only screen and (max-width : 768px)
	.experience
		gap: 16px
		.card .button
			position: static
			transform: none
